<!doctype html>
<html lang="en">

<head>
   {{>header}}
</head>

<body>

   {{>navbar}}

    <nav class="navbar navbar-light navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-white logo"><i class="fas fa-snowflake"></i>
                Screen<b> Recorder <i class="fas fa-snowflake"></i></b>
            </a>
            <div class="tempInformation">
                <div class="top_layer">
                    <p id="day">wednesday</p>
                    <p id="today_date">16 DEC</p>
                </div>
             <div>
        </div>
    </nav>
    <div class="back">
    <div class="container">
        <div class="row">
          <div class="col">
            <img src="images/Free-Screen-Capture-Software.jpg" class="img" alt="screen">
          </div>
          <div class="col">
            <img src="images/screen-capture-software-facecam-webcam.png" class="img" alt="screen">
          </div>
        </div>


    <div class="container-fluid">
        <div class="row justify-content-around">
            <button class="col-5 col-sm-4 col-lg-2 mt-3 btn btn-outline-primary" id="start">
                Start Recording
            </button>
            <button class="col-5 col-sm-4 col-lg-2 mt-3 btn btn-outline-primary" id="stop" >
                Stop Recording
            </button>
            <button class="col-5 col-sm-4 col-lg-2 mt-3 btn btn-outline-success" id="save">
                Save Recording
            </button>
            <button class="col-5 col-sm-4 col-lg-2 mt-3 btn btn-outline-danger" id="clear">
                Clear Recording
            </button>
        </div>
        <div class="row justify-content-center text-center my-4 abcd">
            <p class="col-6">
                <label for="recordAudioCheckBox">Audio</label>
                <input id="recordAudioCheckBox" type="checkbox" checked>
            </p>
            <p class="col-6">
                <label for="captureScreenCheckBox">Screen</label>
                <input id="captureScreenCheckBox" type="checkbox" checked>
            </p>
            <p class="col-6">Duration - <span id="duration">0</span> s</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10" id="outputContainer"></div>
        </div>
    </div>
    </div>


</body>
<script>
    const startElem = document.querySelector("#start");
const stopELem = document.querySelector("#stop");
const saveElem = document.querySelector("#save");
const clearElem = document.querySelector("#clear");

const durationElem = document.querySelector("#duration");
const outputContainerElem = document.querySelector("#outputContainer");
const recordAudioCheckBoxElem = document.querySelector("#recordAudioCheckBox");
const captureScreenCheckBoxElem = document.querySelector(
  "#captureScreenCheckBox"
);

let recorder, durationInterval;

const stopRecording = () => {
  if (recorder.state !== "inactive") recorder.stop();
};

const startScreenCapture = async () => {
  let captureStream = null;

  try {
    captureStream = await navigator.mediaDevices.getDisplayMedia({
      video: { mediaSource: "screen" },
    });
  } catch (err) {
    console.error("Error: " + err);
  }
  return captureStream;
};

const startAudioRecording = async () => {
  let audioStream = null;

  try {
    audioStream = await navigator.mediaDevices.getUserMedia({
      video: false,
      audio: true,
    });
  } catch (err) {
    console.error("Error: " + err);
  }

  return audioStream;
};

const startRecording = async () => {
  const recordAudio = recordAudioCheckBoxElem.checked;
  const recordScreen = captureScreenCheckBoxElem.checked;
  if (!recordAudio && !recordScreen) {
    alert("Nothing to Record, Select any of the checkbox");
    return;
  }

  const stream = new MediaStream();

  if (recordAudio) {
    const _audioStream = await startAudioRecording();

    if (_audioStream) {
      const _audioTracks = _audioStream.getAudioTracks();
      if (_audioTracks.length > 0) stream.addTrack(_audioTracks[0]);
    }
  }

  if (recordScreen) {
    const _screenStream = await startScreenCapture();

    if (_screenStream) {
      const _screenTracks = _screenStream.getTracks();
      if (_screenTracks.length > 0) stream.addTrack(_screenTracks[0]);
    }
  }

  recorder = new MediaRecorder(stream);

  const chunks = [];

  recorder.ondataavailable = (e) => chunks.push(e.data);

  recorder.onstop = () => handleRecordingOnStop(chunks);
  recorder.onstart = handleRecordingOnStart;

  if (recorder.stream.getTracks().length > 0) recorder.start();
};

const handleRecordingOnStop = (chunks) => {
  if (!chunks && chunks.length === undefined && chunks.length === 0) return;
  stopRecording();

  clearInterval(durationInterval);
  recorder.stream.getTracks().forEach((_track) => _track.stop());

  const finalType = chunks[0].type.startsWith("video")
    ? "video/mp4"
    : chunks[0].type.startsWith("audio")
    ? "audio/mp3"
    : "";

  if (finalType) {
    const completeBlob = new Blob(chunks, { type: finalType });

    const _mediaElem =
      finalType === "video/mp4" ? getVideoElement() : getAudioElement();
    _mediaElem.src = URL.createObjectURL(completeBlob);
    outputContainerElem.innerHTML = "";
    outputContainerElem.appendChild(_mediaElem);
  }

  startElem.removeAttribute("disabled");
  stopELem.setAttribute("disabled", true);
  saveElem.removeAttribute("disabled");
};

const getVideoElement = () => {
  const _videoElem = document.createElement("video");
  _videoElem.classList.add("w-100");
  _videoElem.setAttribute("controls", true);
  _videoElem.setAttribute("autoplay", true);

  return _videoElem;
};

const getAudioElement = () => {
  const _audioElem = document.createElement("audio");
  _audioElem.classList.add("w-100");
  _audioElem.setAttribute("controls", true);
  _audioElem.setAttribute("autoplay", true);

  return _audioElem;
};

const handleRecordingOnStart = () => {
  startElem.setAttribute("disabled", true);
  stopELem.removeAttribute("disabled");
  saveElem.setAttribute("disabled", true);

  const _startTime = new Date().getTime();
  durationInterval = setInterval(() => {
    const _currentTime = new Date().getTime();
    durationElem.innerHTML = `${(_currentTime - _startTime) / 1000}`;
  }, 100);
};

const saveRecording = () => {
  const _aElem = document.createElement("a");
  const _videoElem = outputContainerElem.querySelector("video");
  const _audioElem = outputContainerElem.querySelector("audio");

  if (_videoElem) {
    _aElem.href = _videoElem.src;
  } else if (_audioElem) {
    _aElem.href = _audioElem.src;
  } else {
    return;
  }

  const dateStr = new Date().toDateString();
  const fileName = `${
    prompt("Enter name of File for Saving") || "Screen Recording"
  } - ${dateStr}`;

  _aElem.download = fileName;
  _aElem.click();
};

const clearRecording = () => {
  const _clear = confirm(
    "You will loss your recording. Do you want to continue ?"
  );
  if (_clear) location.reload();
};

// date and time

const getCurrentDay = () => {
  let d = new Date();
  let days = [
    "Sunday",
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
  ];
  let dayweek = days[d.getDay()];
  const day = document.getElementById("day");

  day.innerText = dayweek;
};
getCurrentDay();

const getCurrentTime = () => {
  let now = new Date();
  var months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];
  let month = months[now.getMonth()];
  let day = now.getDate();

  let hours = now.getHours();
  let mins = now.getMinutes();
  let perios = "AM";
  if (hours > 11) {
    perios = "PM";
    if (hours > 12) hours -= 12;
  }
  if (mins < 10) {
    mins = "0" + mins;
  }
  const today_date = document.getElementById("today_date");
  today_date.innerHTML = `${month} | ${day} | ${hours}: ${mins}${perios} `;
  //return `${month}  | ${hours} : ${mins}${perios}`;
};
// date.innerHTML=getCurrentDay()+ " | " +getCurrentTime();
getCurrentTime();
getCurrentDay();

startElem.addEventListener("click", startRecording);
stopELem.addEventListener("click", stopRecording);
saveElem.addEventListener("click", saveRecording);
clearElem.addEventListener("click", clearRecording);

</script>

</html>